.wrappper{
  width: 100%;
}

.bg-light{
  background-color: #003b5C!important;
}

.navbar{
  padding: 0 0 0 0!important;
}

.navbar-brand{
  padding-left: 20px;
  font-size: 28px;
  font-family: Nexa;
  text-align: center;
  opacity: 1;
  color: #ffffff;
  margin: 0 0 0 0 !important;
}

.nav-link{
  font-size: 20px;
  font-family: Nexa;
  text-align: center;
  opacity: 1;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 0 0 !important;
}
