<div class="wrapper">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!--Cuando la pag se hace pequeña , aparece el boton-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-controls="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container *ngIf="tipo!='registro-usuarios'; else registraUsers">
            <!--TODO: Menu para los usuarios-->
          </ng-container>
          <ng-template #registraUsers>
            <label class="navbar-brand" href="#">Registro Usuarios del Sistema</label>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>
